version 6.2.1
source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget FSharp.Core ~> 6.0.7

group Build
	source https://api.nuget.org/v3/index.json
    framework: net6
    storage: none
    nuget Fake.Core.Target             ~> 6.0.0
    nuget Fake.Dotnet.AssemblyInfoFile ~> 6.0.0
    nuget Fake.IO.FileSystem           ~> 6.0.0
    nuget Fake.DotNet.Paket            ~> 6.0.0
    nuget Fake.Tools.Git               ~> 6.0.0
    nuget Fake.DotNet.Nuget            ~> 6.0.0
